
.math-view-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: min(38px, max(18px, 2vw));
}

.math-problem-container {
    font-size: min(42px, max(22px, 3vw));
    font-weight: bold;
}